<style>{  }
p            	 { font-family: 'Garamond'; color: #000000; font-size: 14; }
p.simp        { font-family: 'Garamond', 'Arial'; color: #000000; font-size: 18 }
p.trad        { font-family: 'MingLiu', 'Arial'; color: #000000; font-size: 18 }
p.h5        { font-family: 'Garamond'; font-size: 10; color: #000000; font-weight:bold }
p.h4        { font-family: 'Garamond'; font-size: 12; color: #800000; font-weight:bold }
p.h3        { font-family: 'Garamond'; font-size: 18; color: #000080; font-weight:bold }
p.h2        { font-family: 'Garamond'; font-size: 28; color: #000000; font-weight:bold }
p.h1        { font-family: 'Garamond'; font-size: 36; color: #000080; font-weight:bold }
h1           { color: #000080 ; font-family: 'Garamond', 'Times New Romans' ; font-size: 36 }
h2           { font-family: 'Garamond', 'Times New Romans'; font-size: 28; color: #000000 }
h3           { font-family: 'Garamond', 'Times New Romans'; font-size: 18; color: #000080 }
h4           { font-family: 'Garamond', 'Times New Romans'; font-size: 12; color: #800000 }
h5           { font-size: 10; font-family: 'Garamond', 'Times New Romans'; color: #000000 }
h6           { font-size: 8; font-family: 'Garamond', 'Times New Romans' }
a:link       	 { text-decoration: underline; color: #008000; font-family: Garamond, Times New Romans }
a:hover      	 { text-decoration: none; font-family: Garamond, Times New Romans ; color: #000080 }
a:active     	 { color: #0000FF; font-family: Garamond, Times New Romans }
a:visited    	 { font-family: Garamond, Times New Romans ; }
a:link.menu    { text-decoration: underline; color: #FF0000; font-family: Garamond, Times New Roman }
a:hover.menu   { text-decoration: none; font-family: Garamond, Times New Romans ; color: #000080 }
a:active.menu  { color: #FF0000; font-family: 'Garamond', 'Times New Romans' }
a:visited.menu { font-family: Garamond ; color: #FF0000}
a:link.h3       	 { text-decoration: none; color: #008000; font-family: Garamond, Times New Romans }
a:hover.h3      	 { text-decoration: underline; font-family: Garamond, Times New Romans ; color: #000080 }
a:active.h3     	 { color: #0000FF; font-family: Garamond, Times New Romans }
a:visited.h3    	 { font-family: Garamond, Times New Romans ; }
ol           { font-size: 120%; font-family: 'Garamond', 'Times New Romans'; text-align: left; color: #000000 }
ul           { font-size: 120%; font-family: 'Garamond', 'Times New Romans'; text-align: left; color: #000000 }
input        { text-align: Center; font-size: 100% }
select       { text-align: Center; font-size: 14 }
td           { color: #000000 }
-> 
 </style>