* {
	margin: 0;
	padding: 0;
}

body {
	margin-bottom: 50px;
	background: #FFFFFF url(images/img1.jpg) repeat-x;
	font: normal 13px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #3B3B3B;
}

h1, h2, h3 {
	color: #00008B;
}

h1 {
}

h2 {
}

h3 {
	font-size: 1.5em;
}
b  {

	color: #0000FF;
	}
p, blockquote, ul, ol {
}

p {
}

blockquote {
}

ul {
}

ul li {
}

ol {
}

ol li {
}


a {
	color: #4F789F;
}

a:hover {
	text-decoration: none;
}

img {
	border: none;
}

img.left {
	float: left;
	margin: 0 13px 0 0;
}

img.right {
	float: right;
	margin: 0 0 0 0;
}

/* Boxed Style */

.boxed {
}

.boxed .title {
	padding: 10px 20px;
	background: #3B3B3B;
	text-transform: uppercase;
	font: bold .77em Georgia, "Times New Roman", Times, serif;
	color: #FFFFFF;
}

.boxed .content {
	padding: 5px;
}

.boxed ul {
	list-style: none;
}

	
/* Post */

.post {
	clear: both;
	padding: 15px;
}

.post .title {
}

.post .content {
	line-height: 1.6em;
}

.post .title {
	margin-bottom: 10px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.post p, .post blockquote, .post ul, .post ol {
	margin-bottom: .5em;
}

.post blockquote, .post ul, .post ol {
	margin-left: 3em;
}

/* Header */

#header {
	width: 820px;
	height: 56px;
	margin: 0 auto;
	background: #C8C8C8  url(images/logo3.png);
}

#header h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	font-weight: normal;
}

#header h1 {
	float: left;
	padding: 25px 0 0 15px;
	font-size: 24px;
}

#header a {
	text-decoration: none;
	color: #0000FF;
}

/* Page */

#page {
	width: 820px;
	margin: 0 auto;
	background: url(images/img4.gif) repeat-y;
}

#content {
	float: right;
	width: 646px;
}

#sidebar {
	float: left;
	width: 173px;
}

/* Menu */

div.menu {
font-size: 12px;
}

div.menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

div.menu li {
	display: inline;
}

div.menu a {
	display: block;
	padding: 5px 7px;
	border-bottom: 1px solid #FFFFFF;
	text-decoration: none;
	color: #3B3B3B;
}

div.menu a:hover {
	background: #4F789F;
	color: #FFFFFF;
}

div.menu .active a {
	background: #BABABA;
	color: #000000;
}
#updates ul {
}

#updates li {
	font-size: 14px;
	margin-bottom: 7px;
}

/* Footer */

#footer {
	width: 805px;
	height: 17px;
	margin: 0 auto;
	padding: 5px 7px;
	background: #150517;
	font-size: .99em;
	color: #FFFFFF;
}

#legal {
	float: left;
}

#links {
	float: right;
}

.ver-zebra
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 5px;
	width: 600px;
	text-align: left;
	border-collapse: collapse;
}
.ver-zebra th
{
	font-size: 14px;
	font-weight: normal;
	padding: 12px 15px;
	border-right: 2px solid #98afc7;
	border-left: 2px solid #98afc7;
	color: #039;
}
.ver-zebra td
{
	padding: 15px 8px;
	border-right: 2px solid #98afc7;
	border-left: 2px solid #98afc7;
	color: #669;
}
.vzebra-odd
{
	background: #eff2ff;
}
.vzebra-even
{
	background: #e8edff;
}
.ver-zebra .vzebra-adventure, .ver-zebra .vzebra-children
{
	background: #d0dafd;
	border-bottom: 1px solid #c8d4fd;
}
.ver-zebra .vzebra-comedy, .ver-zebra .vzebra-action
{
	background: #dce4ff;
	border-bottom: 1px solid #d6dfff;
}

ul#list-nav {
list-style:none;
margin:1px;
padding:0;
width:820px
}

ul#list-nav li {
display:inline
}

ul#list-nav li a {
text-decoration:none;
font-size: 14px;
padding:2px 0;
width:73px;
background:#485e49;
color:#eee;
float:left;
text-align:center;
border-left:1px solid #fff;
}

ul#list-nav li a:hover {
background:#a2b3a1;
color:#000
}
p.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 37em
}
.bigtext {
    font-size: 40px;
    background:#F0F8FF;
}
.bigtext2 {
    background:#F0F8FF;
}
.languages {
	float: right;
	padding: 0 190px 0 0;
	}