body {
	font: medium "Times New Roman", Times, serif;
	color: #000;
	margin: 0;
	background-color: #999;
}
::-moz-selection {
	background: #FBDBE8;
	color: #F55B99;
}
.styled select {
	background: transparent;
	width: 220px;
	padding: 5px;
	font-size: 16px;
	border: 1px solid #ccc;
	height: 34px;
}
.styled {
	width: 192px;
	height: 34px;
	overflow: hidden;
	text-align: center;
	background: url(http://www.101languages.net/images/down_arrow_select.jpg) no-repeat right #ddd;
}
a.watch:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
a.watch:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
#watch a:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #fff;
	font-weight: bold;
	text-decoration: underline;
}
a.watch:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #fff;
	font-weight: bold;
	text-decoration: underline;
}
u {
	text-decoration: none;
}
.PostCommentContainer {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	background-color:#FFFFFF;
	color:#000000;
	width:100%;
	padding:10px;
}

.PostCommentsTitle{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	width:99%;
	background-color:#ccc;
	color:#000;
	padding:5px;
}

.PostCommentsPost {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	background-color:#FFFFFF;
	border-bottom:1px solid #000000;
	padding-top:10px;
}

.PostCommentsName {
	background-color:#FFFFFF;
	font-weight:bold;
	float:left;
}

.PostCommentsDateTime {
	background-color:#FFFFFF;
	font-weight:bold;
	float:right;
}

.PostCommentsBody {
	background-color:#FFFFFF;
	clear:both; 
}

.PostCommentsPages {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	width:99%;
	background-color:#ccc;
	color:#000;
	padding:5px;
	margin-top:20px;
}

.PostCommentsInputFieldsTitles{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
}

.PostCommentsInputFields{
	width:220px;
}
blockquote {
	font-weight: normal;
}
div#navcontainer {
	background-color: #fff;
	padding: 0px;
	border-bottom: solid 3px #000;
	border-top: solid 3px #000;
}
div#navcontainer ul {
	font-weight: bold;
	color: #fff;
	text-align: center;
	margin: 0;
	padding: 18px 0 18px 0;
}
div#navcontainer ul li {
	display: inline;
}
div#navcontainer ul li a {
	padding: 18px 25px 18px 25px;
	color: #000;
	text-decoration: none;
	border-left: 7px solid #000;
	border-right: 7px solid #000;
	margin-right: -7px;
}
div#navcontainer ul li a:hover {
	background-color: #fff;
	text-decoration: underline;
	color: #000;
}
h2 {
	font: large Arial, Helvetica, sans-serif;
	background-color: #d1d1d1;
	padding: 5px 5px 5px 15px;
}
h3 {
	font: small Arial, Helvetica, sans-serif;
	background-color: #d1d1d1;
	padding: 5px 5px 5px 15px;
}
a:link, a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #003366;
	font-weight: bold;
	padding-top: 4px 0;
	text-decoration: none;
}
a:hover, a:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #003366;
	font-weight: bold;
	padding-top: 4px;
	padding-bottom: 4px;
	text-decoration: underline;
}
.learn {
	border: 1px solid #000;
}
.navbar {
	background-color: #FF0000;
	color: #000000;
	font-size: 13px;
	padding: 15px;
	font-weight: bold;
	line-height: 1.75;
	border: solid #000;
	border-width: 1px 0 1px 1px;
}
.linkcat {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	text-decoration: underline;
	font-size: 13px;
	color: #fff;
}
.main {
	background-color: #fff;
	border: 1px solid #000;
	padding: 15px 15px 15px 15px;
	font: bold normal;
	line-height: 1.5;
}
.quickfacts {
	font-weight: bold;
	font-size: normal;
	color: #000;
	padding: 0 0 0 15px;
}
#optin { margin: 0 auto 2em; overflow: hidden; text-align: center; width: 32em }
	#optin h3 { margin-top: 0 }
	#optin p { margin: 8px 0 0 }
	#optin input {
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		box-shadow: 0 2px 2px #ddd;
		-moz-box-shadow: 0 2px 2px #ddd;
		-webkit-box-shadow: 0 2px 2px #ddd
	}
		#optin input[type="text"] {
			background: #fff url(images/input.png) repeat-x bottom;
			border: 1px solid #ccc;
			float: left;
			font-size: 14px;
			margin: 0 10px 10px 0;
			padding: 8px 10px;
			width: 200px;
		}
		#optin input[type="submit"] {
			background: #217b30 url(images/green.png) repeat-x top;
			border: 1px solid #137725;
			color: #fff;
			cursor: pointer;
			float: left;
			font-size: 14px;
			font-weight: bold;
			padding: 3px 5px;
			text-shadow: -1px -1px #1c5d28;
			text-transform: uppercase;
			width: auto
		}
			#optin input[type="submit"]:hover { color: #c6ffd1 }
		#optin span { background: url(images/lock.png) no-repeat center left; float: left; margin-left: 15px; padding-left: 20px }
/*** ESSENTIAL STYLES ***/
.top-menu, .top-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.top-menu {
	line-height:	1.0;
}
.top-menu ul {
	position:		absolute;
	top:			-999em;
	width:			10em; /* left offset of submenus need to match (see below) */
}
.top-menu ul li {
	width:			100%;
}
.top-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.top-menu li {
	float:			left;
	position:		relative;
}
.top-menu a {
	display:		block;
	position:		relative;
}
.top-menu li:hover ul, .top-menu li.sfHover ul {
	left:			0;
	top:			2.5em; /* match top ul list item height */
	z-index:		99;
}
ul.top-menu li:hover li ul, ul.top-menu li.sfHover li ul {
	top:			-999em;
}
ul.top-menu li li:hover ul, ul.top-menu li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}
ul.top-menu li li:hover li ul, ul.top-menu li li.sfHover li ul {
	top:			-999em;
}
ul.top-menu li li li:hover ul, ul.top-menu li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}
/*** DEMO SKIN ***/
.top-menu {
	float:			left;*/   /* commented this out to make the menu center */
	margin-bottom:	1em;
	margin:0 auto;
}
.top-menu a {
	padding: 		.75em 1em;
	text-decoration:none;
}
.top-menu a, .top-menu a:visited { /* visited pseudo selector so IE6 applies text colour*/
	color:			#000;
}
.top-menu li {
	background:		#d1d1d1;
}
.top-menu li li {
	background:		#d1d1d1;
}
.top-menu li li li {
	background:		#d1d1d1;
}
.top-menu li:hover, .top-menu li.sfHover, .top-menu a:focus, .top-menu a:hover, .top-menu a:active {
	background:		#FBDBE8;
	color: 			#F55B99;
	text-decoration:	none;
	outline:		0;
}
.bottom-menu a {
	color: 			#000;
	text-decoration:	none;
	outline:		0;
}.bottom-menu a:hover, a:active {
	color: 			#fff;
	text-decoration:	underline;
	outline:		0;
}
/*** arrows **/
.top-menu a.sf-with-ul {
	padding-right: 	2.25em;
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
	position:		absolute;
	display:		block;
	right:			.75em;
	top:			1.05em; /* IE6 only */
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
	background:		url('http://www.101languages.net/images/arrows.png') no-repeat -10px -100px; /* 8-bit indexed 

alpha png. IE6 gets solid image only */
}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	top:			.8em;
	background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator, a:hover > .sf-sub-indicator, a:active > .sf-sub-indicator, li:hover > a > .sf-sub-indicator, 

li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}
/* point right for anchors in subs */
.top-menu ul .sf-sub-indicator {
	background-position:  -10px 0;
}
.top-menu ul a > .sf-sub-indicator {
	background-position:  0 0;
}
/* apply hovers to modern browsers */
.top-menu ul a:focus > .sf-sub-indicator, .top-menu ul a:hover > .sf-sub-indicator, .top-menu ul a:active > .sf-sub-indicator, 

.top-menu ul li:hover > a > .sf-sub-indicator, .top-menu ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}
/*** shadows for all but IE6 ***/
.sf-shadow ul {
	background:	url('http://www.101languages.net/images/shadow.png') no-repeat bottom right;
	padding: 0 8px 9px 0;
	-moz-border-radius-bottomleft: 17px;
	-moz-border-radius-topright: 17px;
	-webkit-border-top-right-radius: 17px;
	-webkit-border-bottom-left-radius: 17px;
}
.sf-shadow ul.sf-shadow-off {
	background: transparent;
}
/* based on stu nichols css play http://www.cssplay.co.uk/menus/centered.html */
#wrapper {
	text-align:center;
}
.container {
	clear:both;
	text-decoration:none;
}
.top-menu {
	display:table;
	margin: 0 auto;
}
#content a {
	font: Verdana, Geneva, sans-serif;
	font-size:25px;
	color: #00f;
}
#content a:hover {
	text-decoration: underline;
}
#content {
	background-color: #fff;
	border: 1px solid #000;
	padding: 15px 30px 15px 30px;
	line-height: 1.5;	
}
.translation {
	font-weight: normal;
	padding: 0 30px 5px 30px;
}
#logo {
	background: #999;
	color: #f00;
	font: bold 100%/1 "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-shadow: 4px 4px 5px #222;
}
#logo h1 #hea, #logo h1 #der {
	font-size: 83px;
	text-transform: uppercase;
}
#logo h1 #hea {
	background: #999;
	color: #036;
	text-shadow: 4px 4px 5px #222;
}
