body {
margin-top: 0px;
background-color: #f0f0f0;
}
#header_top_wrapper{
background-color: #111;
}
#header_top{
background-color: #111;
width: 980px;
margin: 0 auto;
}
#header_middle_wrapper{
background-image: url("/tc_skin_red_2col_rightmenu/img/bg_middle_1.jpg");
}
#header_middle{
/*background-color: #A3150B;*/
background-image: url("/tc_skin_red_2col_rightmenu/img/bg_middle_1.jpg");
height: 85px;
width: 980px;
margin: 0 auto;
}
#header_bottom_wrapper{
background-image: url("/tc_skin_red_2col_rightmenu/img/bg_bottom_1.jpg");
}
#header_bottom{
background-image: url("/tc_skin_red_2col_rightmenu/img/bg_bottom_1.jpg");
/* for IE */
/* filter:alpha(opacity=90); */
/* CSS3 standard */
opacity:0.9;

width: 980px;
margin: 0 auto;
}
#wrapper{ 
margin: 0 auto;
width: 980px;
background-color: #fff;

/* Make wrapper div extend with divs inside */
overflow:hidden;
height:1%;
}
#leftcolumn{
margin: 0;
width: 680px;
float: left;
}
#rightcolumn{
float: right;
margin: 0;
width: 300px;
display: inline;
}
#footer_wrapper{
clear: both;
background-color: #333;
margin: 0 auto;
border-top: 3px solid #c00;

/* Make wrapper div extend with divs inside */
overflow:hidden;
height:1%;
}
#footer {
background-color: #333;
width: 980px;
clear: both;
margin: 0 auto;

/* Make wrapper div extend with divs inside */
overflow:hidden;
height:1%;
}