body{background-color:white;font-family:arial,sans-serif;font-size:14px;min-width:640px;padding:2px;margin:2px;}
div.main_left{position:absolute;left:0px;top:129px;width:180px;margin:0;padding:0;z-index:3;margin-right:8px;}
div.main_right{position:absolute;left:0px;top:0px;right:0px;padding-left:0px;margin-bottom:8px;z-index:2;}
div.main_index{width:180px;padding-top:0px;padding-left:2px;padding-bottom:50px;margin-bottom:20px;margin-right:0;text-decoration:none;font-family:arial, times;font-size:12px;background-image:url(/images/l.png);background-position:-10px 0px;background-repeat:repeat-y;}
div.main_logo{font-weight:normal;background-color:white;margin-left:1px;}
div.main_document{margin:8px;margin-right:4px;margin-left:180px;padding:4px;}
div.main_heading{font-weight:normal;background-image:url('/images/header1.png');background-repeat:repeat-x;margin:0px;height:129px;text-align:center;}
div.index_header{font-weight:bold;font-size:12px;color:white;background-color:#000055;width:178px;padding:1px;background-image:url(/images/l.png);background-position:-212px 0px;background-repeat:repeat-y;}
div.index_block{font-size:12px;padding-left:2px;padding-bottom:12px;}
div.index_first{font-size:11px;font-weight:bold;padding-left:2px;padding-bottom:8px;}
div.feature{margin:6px;padding:6px;border:solid #000055;border-width:thin;background-color:#E9E9FF;}
div.topnav{text-align:center;}
div.searchbox{float:right;}
div.quizquestion{padding-left:8px;padding-top:10px;padding-bottom:20px;}
div.quizanswers{padding-left:50px;}
div.searchbox{font-weight:bold;color:#000088;}
a:link{color:black}
a:visited{color:black}
a:active{color:black}
a:hover{text-decoration:underline;color:red;}
a.ind{text-decoration:none;padding-top:1px;padding-bottom:1px;}
a.topnav{padding-right:8px;}
p.nobreak{padding:0px;margin:0px;}
h1{padding:10px;margin:0;font-family:tahoma, "Times New Roman", times, arial, sans-serif;color:#000088;font-weight:bold;font-size:24px;font-style:italic;text-shadow:white 0.1em 0.1em 0.2em;}
h3{padding:0px;margin:0px;font-weight:bold;color:#000088;font-size:120%;padding-top:22px;}
h4{padding:0px;margin:0px;font-weight:normal;color:#000088;font-size:120%;padding-top:16px;}
img.photo-view{text-align:center;border:10px solid #222222;}
img.thumb{border:1px solid #222222;padding:0px;margin:8px;}
span.rus{font-weight:bold;margin-right:8px;}
span.eng{font-weight:normal;margin-left:8px;}
span.pronounce{font-style:italic;}
.italic{font-style:italic;}
.vsmall{font-size:60%;}
.small{font-size:80%;}
.large{font-size:125%;}
.vlarge{font-size:150%;}
.red{color:red;font-weight:bold;}
.r{color:red;}
.b{color:blue;}
.g{color:green;}
table.bordered{border-collapse:collapse;border:1px solid #777777;}
table.bordered tr td {border:1px solid #777777;}
table.bordered tr th {border:1px solid #777777;}
table.borderedspaced{border-collapse:collapse;border:1px solid #777777;}
table.borderedspaced tr td {border:1px solid #777777;padding:5px 10px 5px 10px;}
table.borderedspaced tr th {border:1px solid #777777;padding:5px 10px 5px 10px;}
table.langsplit{border:none;width:100%;margin-bottom:20px;}
table.langsplit tr td {border:none;width:50%;padding:5px 20px 5px 0px;vertical-align:top;text-align:justify;}
table.langsplit tr th {border:none;width:50%;padding:5px 20px 5px 0px;vertical-align:top;text-align:justify;}
table.noborder{border:none;}
table.noborder tr td {border:none;padding:5px 10px 5px 10px;}
table.noborder tr th {border:none;padding:5px 10px 5px 10px;}
table.examples{border:none;width:100%;margin-bottom:10px;}
table.examples tr td {border:none;width:50%;}
td.rus {font-weight:bold;}
table.verb{border:none;}
table.verb tr td {border:none;padding:0px 20px 2px 0px;text-align:left;}
table.verb tr th {border:none;padding:0px 20px 2px 0px;text-align:left;}
img.audio{vertical-align:bottom;margin-right:10px}
hr{height:0px;border:solid #D1D7DC 0px;border-top-width:1px;}
.bodyline{background-color:#f3f3f3;border:1px #98AAB1 solid;}
.forumline{background-color:#f3f3f3;border:2px #000066 solid;}
td.row1{background-color:#F5F5FF;}
td.row1c{background-color:#F5F5FF;text-align:center;vertical-align:middle;height:50px;}
td.row1l{background-color:#F5F5FF;text-align:left;height:50px;}
td.row2{background-color:#EEEEFF;}
td.row2c{background-color:#EEEEFF;text-align:center;vertical-align:middle;height:50px;}
td.row2l{background-color:#EEEEFF;text-align:left;height:50px;}
td.row3{background-color:#E5E5FF;}
td.rowpic{background-color:#E5E5FF;background-repeat:repeat-y;}
td.cat,td.catHead,td.catSides,td.catLeft,td.catRight,td.catBottom{background-color:#D1D7DC;border:#FFFFFF;border-style:solid;height:28px;}
td.cat,td.catHead,td.catBottom{height:29px;border-width:0px 0px 0px 0px;}
th.thHead,th.thSides,th.thTop,th.thLeft,th.thRight,th.thBottom,th.thCornerL,th.thCornerR{font-weight:bold;border:#f3f3f3;border-style:solid;height:28px;}
td.row3Right,td.spaceRow{background-color:#F5F5FF;border:#FFFFFF;border-style:solid;}
th.thHead,td.catHead{font-size:12px;border-width:1px 1px 0px 1px;}
th.thSides,td.catSides,td.spaceRow{border-width:0px 1px 0px 1px;}
th.thRight,td.catRight,td.row3Right{border-width:0px 1px 0px 0px;}
th.thLeft,td.catLeft{border-width:0px 0px 0px 1px;}
th.thBottom,td.catBottom{border-width:0px 1px 1px 1px;}
th.thTop{border-width:1px 0px 0px 0px;}
th.thCornerL{border-width:1px 0px 0px 1px;}
th.thCornerR{border-width:1px 1px 0px 0px;}
.maintitle{font-weight:bold;font-size:22px;font-family:"Trebuchet MS",Verdana, Arial;text-decoration:none;line-height:120%;color:#000000;}
.gen{font-size:12px;}
.genmed{font-size:11px;}
.gm{font-size:11px;}
.gensmall{font-size:10px;}
.gs{font-size:10px;}
.gen,.genmed,.gensmall{color:#000000;}
a.gen,a.genmed,a.gensmall{color:#000066;text-decoration:none;}
a.gm,a.gs{color:#000066;text-decoration:none;}
.mainmenu{font-size:11px;color:#000000}
a.mainmenu{text-decoration:none;color:#000066;}
.code{font-family:Courier, 'Courier New', sans-serif;font-size:11px;color:#006600;background-color:#FAFAFA;border:#D1D7DC;border-style:solid;border-left-width:1px;border-top-width:1px;border-right-width:1px;border-bottom-width:1px}
.quote{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:11px;color:#444444;line-height:125%;background-color:#FAFAFA;border:#D1D7DC;border-style:solid;border-left-width:1px;border-top-width:1px;border-right-width:1px;border-bottom-width:1px}
.copyright{font-size:10px;font-family:Verdana, Arial, Helvetica, sans-serif;color:#444444;letter-spacing:-1px;}
a.copyright{color:#444444;text-decoration:none;}
a.copyright:hover{color:#000000;text-decoration:underline;}
.helpline{background-color:#DEE3E7;border-style:none;}
.cattitle{font-weight:bold;font-size:12px;letter-spacing:1px;color:#000066}
a.cattitle{text-decoration:none;color:#000066;}
.forumlink{font-weight:bold;font-size:12px;color:#000066;}
a.forumlink{text-decoration:none;color:#000066;}
a.forumlink:hover{text-decoration:underline;color:red;}
.nav{font-weight:bold;font-size:11px;color:#000000;}
a.nav{text-decoration:none;color:#000066;}
a.nav:hover{text-decoration:underline;color:red;}
.topictitle{font-weight:bold;font-size:11px;color:#000000;}
a.topictitle:link{text-decoration:none;color:#000066;}
a.topictitle:visited{text-decoration:none;color:#000066;}
a.topictitle:hover{text-decoration:underline;color:red;}
.name{font-size:11px;color:#000000;}
.postdetails{font-size:10px;color:#000000;}
.postbody{font-size:12px;line-height:18px}
a.postlink:link{text-decoration:none;color:#000066}
a.postlink:visited{text-decoration:none;color:#000066;}
a.postlink:hover{text-decoration:underline;color:red;}