body{line-height:14px; font-size:12px; font-family:verdana,arial,sans-serif;color: #000000; margin-right:50px; margin-left:50px;}
td{line-height:14px; font-size:12px; font-family:verdana,arial,sans-serif;color: #000000;}
p{font-family: Verdana,Arial,Helvetica, sans-serif;font-size: 12px;color: #000000;}
a:visited{color: #3300CC;}
a:active{color: #3300CC;}
a:link{color: #3300CC;}
a:hover { color: #0000FF; background-color: #E2F2C1; }
.aa{font-family: Verdana,Arial, Helvetica;font-size: 12px;color: #000000;}


H1 {font-weight:bold; font-size:14px; line-height: 13pt; margin-top:0pt; margin-left:0pt; margin-bottom:0pt; border-bottom-width: 0px; padding-bottom: 0.0ex;}
H2 {font-weight:bold; font-size:13px; margin-top:0pt; margin-left:0pt; margin-bottom:0pt; border-bottom-width: 0px; padding-bottom: 0.0ex;}
H3 {font-weight:bold; font-size:12px; margin-top:0pt; margin-left:0pt; margin-bottom:0pt; border-bottom-width: 0px; padding-bottom: 0.0ex;}

.ft1{font-family: Verdana, Arial, Helvetica; font-size: 11px; font-weight: normal; color: \#000000; background-color: #EEFFFF; border: 1px solid #333300; vertical-align: middle}
.ft2{font-family: Verdana, Arial, Helvetica; font-size: 11px; font-weight: bold; color: \#000033; background-color: #eeeeee; border: 1px dotted #000000; vertical-align: middle}
.ft3{font-family: Verdana, Arial, Helvetica; font-size: 11px; font-weight: normal; color: \#000000; #EEEEEE; vertical-align: middle}
.font1{font-family: Verdana,Arial, Helvetica; font-size: 13px; font-weight: bold; color: \#000000;}
.font2{font-family: Verdana,Arial, Helvetica; font-size: 10px; font-weight: bold; color: \#000000;}
.button1{font-family: Verdana, Arial, Helvetica; font-size: 10px; padding: 2; color: \#000088; vertical-align: middle; border: 1px solid #333333; text-decoration: none; background-color: #EEEEFF;}
.td1{font-family: Verdana, Arial, Helvetica; font-size: 12px;  color: #000000; background-color: #003366;}
.td2{font-family: Verdana, Arial, Helvetica; font-size: 12px;  color: #000000; background-color: #33CCFF;}
.td3{font-family: Verdana, Arial, Helvetica; font-size: 12px;  color: #000000; background-color: #FFFFCC;}
.td4{font-family: Verdana, Arial, Helvetica; font-size: 12px;  color: #000000; background-color: #CCFF99;}
.td5{font-family: Verdana, Arial, Helvetica; font-size: 12px;  color: #000000; background-color: #FFFFAA;}
.td6{font-family: Verdana, Arial, Helvetica; font-size: 12px;  color: #000000; background-color: #DDDDCC;}
